<div class="settings-container">
  <header class="header">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>{{ formTitle }}</h1>
  </header>
  <mat-card class="settings-card">
    <mat-card-header>
      <div class="header-content">
        <mat-card-title class="race-title"><h3>{{ raceTitle }}</h3></mat-card-title>
        <mat-card-subtitle class="session-info">
          {{ formSubtitle }}
        </mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="betForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Rider</mat-label>
          <mat-select formControlName="rider_id" required>
            <mat-option [value]="" disabled>Select a rider</mat-option>
            <ng-container *ngFor="let rider of riders">
              <mat-option *ngIf="!removeRaceRider || rider.rider_id.id !== existingLineup?.race_rider_id?.id" [value]="rider.rider_id.id">
                {{ rider.rider_id.first_name }} {{ rider.rider_id.last_name }} (#{{ rider.rider_id.number }})
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Position</mat-label>
          <input matInput type="number" formControlName="position" required [max]="riders.length">
          <mat-error *ngIf="betForm.get('position')?.hasError('max')">
            Max allowed position: {{ riders.length }}
          </mat-error>
          <mat-error *ngIf="betForm.get('position')?.hasError('required')">
            Position is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Points</mat-label>
          <input matInput type="number" formControlName="points" required [max]="(pointsLimit || 0) - existingBetsPointsSum">
          <mat-error *ngIf="betForm.get('points')?.hasError('max')">
            Remaining points available: {{ (pointsLimit || 0) - existingBetsPointsSum }}
          </mat-error>
          <mat-error *ngIf="betForm.get('points')?.hasError('required')">
            Points are required
          </mat-error>
        </mat-form-field>
        <div *ngIf="betForm.hasError('maxBetsReached')" class="form-level-error">
          <mat-icon>error</mat-icon>
          Maximum {{ maxBets }} bets reached for this race
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              class="action-button"
              [disabled]="betForm.invalid || loading"
              (click)="onSubmit()">
        {{ loading ? 'Submitting...' : 'Save Race Bet' }}
      </button>
      <button mat-stroked-button
              color="primary"
              class="action-button"
              (click)="openLineupModal()"
              [disabled]="!existingLineup"
              matTooltip="View lineup">
        <mat-icon>history</mat-icon>
        View lineup
      </button>
      <button mat-stroked-button
              color="primary"
              class="action-button"
              (click)="openExistingBetsModal()"
              [disabled]="existingBets.length === 0"
              matTooltip="View existing bets">
        <mat-icon>history</mat-icon>
        View bets
      </button>
    </mat-card-actions>
  </mat-card>
</div>
