/* You can add global styles to this file, and also import other style files */

//fonts
@font-face {
  font-family: 'MotoGP Regular';
  src: url('../assets/fonts/MotoGPText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MotoGP Bold';
  src: url('../assets/fonts/MotoGPDisplay-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


html, body { height: 100%; }
body {
  margin: 0;
  font-family: "MotoGP Regular", "Helvetica Neue", sans-serif;
}

h1,h2,h3 {
  font-family: 'MotoGP Bold', sans-serif;
}

.mat-mdc-card-title {
  font-family: "MotoGP Regular", "Helvetica Neue", sans-serif !important;
  padding: 16px 16px 0;
}

.mat-mdc-card-header {
  text-align: center;
}


